.container {
  margin: 0px !important;
  padding: 0px !important;
  max-width:100% !important;
}

.navbar {
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid black;
}

.navbar h1{
  font-family: 'Kaushan Script', cursive;
  display: inline-block;
}

.navbar li{
  display: inline-block;
  float: right;
  text-align: center;
  margin-left: 7px;
}

.nav-right{
  display: inline-block;
  float: right;
  margin-top: 15px;
}

.nav-right a{
  margin-right: 10px;
  text-decoration: none;
  color: gray;
}

.active {
  color: purple;
}


.row {
  text-align: center;
  margin-top: 10px;
}

.appt-container{
  border: 1px solid silver;
  padding: 10px;
}

.disclaimer {
  font-size: 12px;
}

form a{
  margin-left: 5px;
}

.main_div{
  width: 100%;
  height: 100%;
}

.main_div img{
  max-width: 100%;
  max-height: 100%;
  /*display: block;*/
}

.quote{
  max-width: 100%;
  max-height: 100%;
  padding-bottom: 10px;
  background-color: rgb(221,160,221);
}

.words{
  color: white;
  width: 100%;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 35px;
  display: inline-block;
  text-align: center;
  margin-top: 25px;
}

.image_container{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;


}

.box{
  border: 1px solid white;
  padding: 0px;
  text-align: center;
  overflow: hidden;

}

.box img{
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  overflow: hidden;
  margin-left: -10px;
  margin-top: 2px;
  -webkit-transition: -webkit-transform 0.3s ease;
  -moz-transition: -moz-transform 0.3s ease;
  -o-transition: -o-transform 0.3s ease;
  transition: transform 0.3s ease;
  margin-right: 30px;
  /*border: 1px solid black;*/
}

.box label{
  margin-top: 5px;
  display: inline-block;
  text-align: center;
}

.box img:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  -webkit-transform: scale(1.07);
  -moz-transform: scale(1.07);
  -ms-transform: scale(1.07);
  -o-transform: scale(1.07);
  transform: scale(1.07);
  margin-top: 5px;
  opacity: 1;
  overflow: hidden;
}

/*ABOUT US*/
.about_row{
  height: 100%;
  width: 100%;
  margin-top: 15px;


}

.about_pic{
  height: 500px;
}

.about_pic img{
  max-width: 100%;
  max-height: 100%;
  /*margin-left: 40px;*/
}
.tina{

}

.tina h3{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 900;
  text-align: center;
}

.michelle h3{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 900;
  text-align: center;
}

.about_row{
  margin-top: 30px;

}

/*CONTACT*/
.contact_row{
  border: 1px solid red;
}

.contact_row h1{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 900;
}
