.navbar {
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid black;
}

.navbar h1{
  font-family: 'Kaushan Script', cursive;
  display: inline-block;
}

.navbar li{
  display: inline-block;
  float: right;
  text-align: center;
  margin-left: 7px;
}

.nav-right{
  display: inline-block;
  float: right;
}

.nav-right a{
  margin-right: 10px;
  text-decoration: none;
  color: gray;
}

.appt-container{
  border: 1px solid silver;
  padding: 10px;
}

.disclaimer {
  font-size: 12px;
}

form a{
  margin-left: 5px;
}

.main img{
  width: 100%;
  height: 100px;
}

.quote{
  width: 100%;
  height: 100px;
  background-color: rgb(221,160,221);
}

.words{
  color: white;
  width: 100%;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 35px;
  display: inline-block;
  text-align: center;
  margin-top: 25px;
}

.image_container{
  width: 910px;
  height: 250px;
  background-color: silver;
}
