.navbar {
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid black;
}

.navbar h1{
  font-family: 'Kaushan Script', cursive;
  display: inline-block;
}

.navbar li{
  display: inline-block;
  float: right;
  text-align: center;
  margin-left: 7px;
}

.nav-right{
  display: inline-block;
  float: right;
}

.nav-right a{
  margin-right: 10px;
  text-decoration: none;
  color: gray;
}

.appt-container{
  border: 1px solid silver;
  padding: 10px;
}

.disclaimer {
  font-size: 12px;
}

form a{
  margin-left: 5px;
}
